In [1]:
import sys
sys.path.insert(0, r"C:\users\pairwin\Documents\Github\HelperPI")

import HelperPI
import seaborn as sns
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import statsmodels.formula.api as sts
import numpy as np

In [2]:
helper = HelperPI.Helper()

INFO:root:Initializing...

In [7]:
sql = helper.getSQL(r"C:\users\pairwin\Documents\GitHub\IPy_Notebooks\SQL\TAB_MODELING.sql")

In [8]:
base, dtypesdf = helper.readData(sql)

INFO:root:Reading data...
INFO:root:Data read complete...
INFO:root:Read: 100000 rows.

                  Count Column Type
0            DATE_VALUE      object
1                RECORD      object
2            MEDHINC_CY     float64
3             MEDAGE_CY     float64
4            CLOSEST_BP     float64
5           CLOSEST_CAB     float64
6     MALES_IN_HOUSHOLD       int64
7   FEMALES_IN_HOUSHOLD       int64
8      REWARDS_CUSTOMER       int64
9      DAYS_AS_CUSTOMER       int64
10   TOTAL_TRANSACTIONS     float64
11     REW_TRANSACTIONS     float64
12          TOTAL_SPEND     float64
13  DAYS_SINCE_PURCHASE       int64
14     TARGET_VALUE12MO     float64
15  TARGET_PURCH_NEXT15       int64

In [42]:
train, test = helper.splitData(base, .50)

In [43]:

collist = ['MEDHINC_CY','MEDAGE_CY','CLOSEST_BP','MALES_IN_HOUSHOLD','FEMALES_IN_HOUSHOLD','REWARDS_CUSTOMER',
          'DAYS_AS_CUSTOMER','TOTAL_TRANSACTIONS','REW_TRANSACTIONS','TOTAL_SPEND','DAYS_SINCE_PURCHASE','TARGET_PURCH_NEXT15']
train2 = train[collist].dropna()
train2.describe()

,MEDHINC_CY,MEDAGE_CY,CLOSEST_BP,MALES_IN_HOUSHOLD,FEMALES_IN_HOUSHOLD,REWARDS_CUSTOMER,DAYS_AS_CUSTOMER,TOTAL_TRANSACTIONS,REW_TRANSACTIONS,TOTAL_SPEND,DAYS_SINCE_PURCHASE,TARGET_PURCH_NEXT15
count,48150.000000,48150.000000,48150.000000,48150.000000,48150.000000,48150.000000,48150.000000,48150.000000,48150.000000,48150.000000,48150.000000,48150.000000
mean,58219.328972,39.525587,32.935875,0.663240,0.338401,0.359564,2190.758214,8.200436,4.881059,702.435789,1205.705379,0.189221
std,22743.605820,5.773958,32.388241,0.577472,0.493622,0.479878,1174.409345,26.226379,24.394402,1765.211101,1013.891906,0.391688
min,0.000000,0.000000,0.070000,0.000000,0.000000,0.000000,49.000000,1.000000,0.000000,0.010000,5.000000,0.000000
25%,41780.000000,36.000000,10.682500,0.000000,0.000000,0.000000,1075.000000,1.000000,0.000000,61.462500,333.000000,0.000000
50%,53651.000000,39.000000,21.960000,1.000000,0.000000,0.000000,2304.000000,3.000000,0.000000,174.845000,885.000000,0.000000
75%,69350.000000,43.000000,45.847500,1.000000,1.000000,1.000000,3289.000000,6.000000,2.000000,551.835000,1912.000000,0.000000
max,200001.000000,76.000000,566.000000,5.000000,4.000000,1.000000,3913.000000,2106.000000,1987.000000,64460.160000,3910.000000,1.000000

In [44]:
sns.pairplot(train2, hue='TARGET_PURCH_NEXT15')
sns.plt.savefig('Scattermatrix.png')

In [47]:
X = train[['MEDHINC_CY','MEDAGE_CY','CLOSEST_BP','MALES_IN_HOUSHOLD','FEMALES_IN_HOUSHOLD','REWARDS_CUSTOMER',
          'DAYS_AS_CUSTOMER','TOTAL_TRANSACTIONS','REW_TRANSACTIONS','TOTAL_SPEND','DAYS_SINCE_PURCHASE']]
y = train[['TARGET_PURCH_NEXT15']]

for el in X.columns:
    stats.pointbiserialr(el, y)

TypeError: len() of unsized object