In [1]:
import sys
sys.path.insert(0, r"C:\users\pairwin\Documents\Github\HelperPI")

import HelperPI
import seaborn as sns
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import statsmodels.formula.api as sts
import numpy as np

In [2]:
helper = HelperPI.Helper()

INFO:root:Initializing...

In [7]:
sql = helper.getSQL(r"C:\users\pairwin\Documents\GitHub\IPy_Notebooks\SQL\TAB_MODELING.sql")

In [8]:
base, dtypesdf = helper.readData(sql)

INFO:root:Reading data...
INFO:root:Data read complete...
INFO:root:Read: 100000 rows.

                  Count Column Type
0            DATE_VALUE      object
1                RECORD      object
2            MEDHINC_CY     float64
3             MEDAGE_CY     float64
4            CLOSEST_BP     float64
5           CLOSEST_CAB     float64
6     MALES_IN_HOUSHOLD       int64
7   FEMALES_IN_HOUSHOLD       int64
8      REWARDS_CUSTOMER       int64
9      DAYS_AS_CUSTOMER       int64
10   TOTAL_TRANSACTIONS     float64
11     REW_TRANSACTIONS     float64
12          TOTAL_SPEND     float64
13  DAYS_SINCE_PURCHASE       int64
14     TARGET_VALUE12MO     float64
15  TARGET_PURCH_NEXT15       int64

In [11]:
train, test = helper.splitData(base, .50)

In [30]:

collist = ['MEDHINC_CY','MEDAGE_CY','CLOSEST_BP','MALES_IN_HOUSHOLD','FEMALES_IN_HOUSHOLD','REWARDS_CUSTOMER',
          'DAYS_AS_CUSTOMER','TOTAL_TRANSACTIONS','REW_TRANSACTIONS','TOTAL_SPEND','DAYS_SINCE_PURCHASE','TARGET_PURCH_NEXT15']
train2 = train[collist].dropna()
train2.describe()

,MEDHINC_CY,MEDAGE_CY,CLOSEST_BP,MALES_IN_HOUSHOLD,FEMALES_IN_HOUSHOLD,REWARDS_CUSTOMER,DAYS_AS_CUSTOMER,TOTAL_TRANSACTIONS,REW_TRANSACTIONS,TOTAL_SPEND,DAYS_SINCE_PURCHASE,TARGET_PURCH_NEXT15
count,48142.000000,48142.000000,48142.000000,48142.000000,48142.000000,48142.000000,48142.000000,48142.000000,48142.000000,48142.000000,48142.000000,48142.000000
mean,58369.214657,39.492086,33.001681,0.660338,0.336629,0.358523,2185.297744,8.075589,4.787732,691.904021,1207.818558,0.186698
std,23094.784448,5.770923,32.543217,0.572052,0.493378,0.479572,1173.024207,25.080390,23.221742,1828.917288,1017.521275,0.389673
min,0.000000,0.000000,0.070000,0.000000,0.000000,0.000000,50.000000,1.000000,0.000000,0.010000,5.000000,0.000000
25%,41579.000000,36.000000,10.680000,0.000000,0.000000,0.000000,1072.000000,1.000000,0.000000,61.597500,333.000000,0.000000
50%,53709.000000,39.000000,22.000000,1.000000,0.000000,0.000000,2302.000000,3.000000,0.000000,173.500000,884.000000,0.000000
75%,69462.000000,43.000000,46.120000,1.000000,1.000000,1.000000,3279.000000,6.000000,2.000000,546.897500,1915.000000,0.000000
max,200001.000000,76.000000,566.000000,5.000000,3.000000,1.000000,3913.000000,1466.000000,1440.000000,115515.800000,3910.000000,1.000000

In [ ]:
sns.pairplot(train2, hue='TARGET_PURCH_NEXT15')
sns.plt.show()